.MMM-MyScoreboard {
  min-width: 300px;
}

.MMM-MyScoreboard .league-separator {
  font-size: 15.5px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  border-bottom: solid 1px #222;
  text-align: left;
  padding: 0;
}
.MMM-MyScoreboard .league-separator > span {
  color: #000;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 2px;
  background-color: #FFF;
  display: inline-block;
  vertical-align: top;
  position: relative;
  white-space: nowrap;
}
.MMM-MyScoreboard .league-separator > span:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 18px 0 0 15px;
  border-color: transparent transparent transparent #FFF;
  margin-right: -15px;
  position: relative;
  right: -2px;
}

.MMM-MyScoreboard .box-score {
  min-width: 300px;
  height: 70px;
  position: relative;
  text-align: left;
  border-bottom: solid 1px #222;
}

.MMM-MyScoreboard .box-score .logo {
  position: absolute;
  display: block;
  max-width: 60px;
  max-height: 60px;
  top: 35px;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.MMM-MyScoreboard .wrapper.colored .box-score .logo {
  -webkit-filter: none;
  filter: none;
}


.MMM-MyScoreboard .box-score .logo.visitor {
  left: 30px;
  transform: translate(-50%, -50%);
}
.MMM-MyScoreboard .box-score .logo.home {
  right: 30px;
  transform: translate(50%, -50%);
}

.MMM-MyScoreboard .box-score .score {
  position: absolute;
  display: block;
  width: 44px;
  font-size: 32px;
  line-height: 1;
  top: 20px;
  color: #FFF;
  text-align: center;
}

.MMM-MyScoreboard .box-score .score.visitor {
  left: 62px;
}
.MMM-MyScoreboard .box-score .score.home {
  right: 62px;
}

.MMM-MyScoreboard .box-score .status {
  position: absolute;
  width: calc(100% - 200px);
  left: 100px;
  top: 0px;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 300;
  font-size: 20px;
  font-weight: 400;
}

.MMM-MyScoreboard .box-score .status > span {
  padding: 0 4px;
  white-space: nowrap;
}

.MMM-MyScoreboard .box-score .status sup {
  font-size: 68%;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 9px;
}

.MMM-MyScoreboard .box-score.in-progress .status {
  color: #FFF;
  font-weight: 400;
}

.MMM-MyScoreboard .wrapper.colored .box-score.in-progress .status {  
  color: #f8dd70;
}

.MMM-MyScoreboard .box-score .status .game-clock {
  margin-right: 12px;
}

/* 
  ------------- View Modifiers -------------
  The above styles default to the largeLogos
  view style.  The following can be used to
  modify the display
*/


/* mediumLogos */
.MMM-MyScoreboard .box-score.mediumLogos {
  height: 50px;
}


.MMM-MyScoreboard .box-score.mediumLogos .logo {
  max-width: 40px;
  max-height: 40px;
  top: 25px;  
}

.MMM-MyScoreboard .box-score.mediumLogos .logo.home {
  right: 20px;
}
.MMM-MyScoreboard .box-score.mediumLogos .logo.visitor {
  left: 20px;
}

.MMM-MyScoreboard .box-score.mediumLogos .status {
  height: 50px;
  width: calc(100% - 160px);
  left: 80px;  
}

.MMM-MyScoreboard .box-score.mediumLogos .score {
  font-size: 26px;
  top: 11px;
}
.MMM-MyScoreboard .box-score.mediumLogos .score.visitor {
  left: 42px;
}
.MMM-MyScoreboard .box-score.mediumLogos .score.home {
  right: 42px;
}

/* smallLogos */
.MMM-MyScoreboard .box-score.smallLogos {
  height: 30px;
}

.MMM-MyScoreboard .box-score.smallLogos .logo {
  max-width: 24px;
  max-height: 24px;
  top: 15px;
}

.MMM-MyScoreboard .box-score.smallLogos .logo.home {
  right: 12px;
}
.MMM-MyScoreboard .box-score.smallLogos .logo.visitor {
  left: 12px;
}

.MMM-MyScoreboard .box-score.smallLogos .status {
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  width: calc(100% - 124px);
  left: 62px;
  top: 0px;
}

.MMM-MyScoreboard .box-score.smallLogos .score {
  font-size: 20px;
  top: 0px;
  height: 30px;
  line-height: 30px;
}
.MMM-MyScoreboard .box-score.smallLogos .score.visitor {
  left: 28px;
}
.MMM-MyScoreboard .box-score.smallLogos .score.home {
  right: 28px;
}




/* oneLine / oneLineWithLogos */
.MMM-MyScoreboard .box-score.oneLine,
.MMM-MyScoreboard .box-score.oneLineWithLogos {
  height: 30px;
}

.MMM-MyScoreboard .box-score.oneLine .team-short-code,
.MMM-MyScoreboard .box-score.oneLine .status,
.MMM-MyScoreboard .box-score.oneLine .score,
.MMM-MyScoreboard .box-score.oneLine .vs-symbol,
.MMM-MyScoreboard .box-score.oneLineWithLogos .team-short-code,
.MMM-MyScoreboard .box-score.oneLineWithLogos .status,
.MMM-MyScoreboard .box-score.oneLineWithLogos .score,
.MMM-MyScoreboard .box-score.oneLineWithLogos .vs-symbol {
  display: block;
  position: absolute;
  top: 0px;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.MMM-MyScoreboard .box-score.oneLine .vs-symbol,
.MMM-MyScoreboard .box-score.oneLineWithLogos .vs-symbol {
  left: 55px;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  top: 6px;
  color: #AAA;
}

.MMM-MyScoreboard .box-score.oneLine .team-short-code,
.MMM-MyScoreboard .box-score.oneLineWithLogos .team-short-code {
  width: 44px;  
  color: #AAA;
}
.MMM-MyScoreboard .box-score.in-progress.oneLine .team-short-code,
.MMM-MyScoreboard .box-score.in-progress.oneLineWithLogos .team-short-code {  
  /*color: #FFF;*/
}

.MMM-MyScoreboard .box-score.oneLine .team-short-code.visitor,
.MMM-MyScoreboard .box-score.oneLineWithLogos .team-short-code.visitor {
  left: 0px;
}
.MMM-MyScoreboard .box-score.oneLine .team-short-code.home,
.MMM-MyScoreboard .box-score.oneLineWithLogos .team-short-code.home {
  left: 90px;
}

.MMM-MyScoreboard .box-score.oneLine .score,
.MMM-MyScoreboard .box-score.oneLineWithLogos .score {
  width: 40px;
  font-weight: bold;
  color: #FFF;
}
.MMM-MyScoreboard .box-score.oneLine .score.visitor,
.MMM-MyScoreboard .box-score.oneLineWithLogos .score.visitor {
  left: 40px;
}
.MMM-MyScoreboard .box-score.oneLine .score.home,
.MMM-MyScoreboard .box-score.oneLineWithLogos .score.home {
  left: 132px;
}

.MMM-MyScoreboard .box-score.oneLine .status,
.MMM-MyScoreboard .box-score.oneLineWithLogos .status {
  text-align: right;
  left: initial;
  right: 0px;
  font-size: 16px;
  width: calc(100% - 170px);
}

.MMM-MyScoreboard .box-score.oneLine .status sup,
.MMM-MyScoreboard .box-score.oneLineWithLogos .status sup {
  margin-bottom: 6px;
}


.MMM-MyScoreboard .box-score.oneLine .status > span,
.MMM-MyScoreboard .box-score.oneLineWithLogos .status > span {
  padding: 0 2px;
}


.MMM-MyScoreboard .box-score.oneLineWithLogos .logo {
  top: 15px;
  max-height: 24px;
  max-width: 24px;
  right: initial;
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .logo.visitor {
  left: 12px;
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .logo.home {
  left: 132px;
  transform: translate(-50%, -50%);  
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .team-short-code.visitor {
  left: 30px;
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .team-short-code.home {
  left: 150px;
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .score.visitor {
  left: 70px;
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .score.home {
  left: 192px;
}
.MMM-MyScoreboard .box-score.oneLineWithLogos .vs-symbol {
  left: 85px;
}


/* stacked / stackedWithLogos */
.MMM-MyScoreboard .box-score.stacked {
  height: 60px;
}

.MMM-MyScoreboard .box-score.stackedWithLogos {
  height: 66px;
}



.MMM-MyScoreboard .box-score.stacked .team-name,
.MMM-MyScoreboard .box-score.stacked .status,
.MMM-MyScoreboard .box-score.stacked .score,
.MMM-MyScoreboard .box-score.stacked .vs-symbol,
.MMM-MyScoreboard .box-score.stackedWithLogos .team-name,
.MMM-MyScoreboard .box-score.stackedWithLogos .status,
.MMM-MyScoreboard .box-score.stackedWithLogos .score {
  display: block;
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  height: 30px;
  margin: 0;
  padding: 0;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.MMM-MyScoreboard .box-score.stacked .team-name,
.MMM-MyScoreboard .box-score.stackedWithLogos .team-name {
  left: 0px;
  width: 110px;
  color: #AAA;
}
.MMM-MyScoreboard .box-score.stacked .team-name.visitor {
  top:6px;
}
.MMM-MyScoreboard .box-score.stacked .team-name.home {
  top: 30px;
}

.MMM-MyScoreboard .box-score.stacked .score,
.MMM-MyScoreboard .box-score.stackedWithLogos .score {
  left: 116px;
  width: 44px;
  color: #AAA;
  text-align: right;
  color: #FFF;
  font-weight: bold;
}
.MMM-MyScoreboard .box-score.stacked .score.visitor,
.MMM-MyScoreboard .box-score.stackedWithLogos .score.visitor {
  top:6px;
}
.MMM-MyScoreboard .box-score.stacked .score.home,
.MMM-MyScoreboard .box-score.stackedWithLogos .score.home {
  top: 30px;
}

.MMM-MyScoreboard .box-score.stacked .status,
.MMM-MyScoreboard .box-score.stackedWithLogos .status {
  height: 60px;
  left: initial;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: calc(100% - 170px);
}

.MMM-MyScoreboard .box-score.stackedWithLogos .team-name {
  left: 30px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .team-name.visitor {
  top: 8px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .team-name.home {
  top: 34px;
}

.MMM-MyScoreboard .box-score.stackedWithLogos .logo {
  max-height: 24px;
  max-width: 24px;
  left: 12px;
  right: initial;
  transform: translate(-50%, -50%);  
}
.MMM-MyScoreboard .box-score.stackedWithLogos .logo.visitor {
  top: 20px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .logo.home {
  top: 48px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .score {  
  left: 146px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .score.visitor {
  top: 8px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .score.home {
  top: 34px;
}
.MMM-MyScoreboard .box-score.stackedWithLogos .status {
  height: 66px;
  width: calc(100% - 200px);
}







/* ------------ Sport specific styles --------------- */

/* NBA */
.MMM-MyScoreboard .box-score.NBA.largeLogos .score {
  top: 21px;
  font-size: 26px;
  letter-spacing: -2px;
}
.MMM-MyScoreboard .box-score.NBA.mediumLogos .score {
  top: 10px;
  font-size: 26px;
  letter-spacing: -2px;
}

/* MLB */
.MMM-MyScoreboard .box-score.MLB.delay .status {
  color: #AAA;
  font-weight: normal;
  position: relative;
  top: -10px;
}





